// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



@media (max-width: 600px) {
  .el-dialog[style] {
    width: 90% !important;
  }

  .el-form-item__content[style] {
    margin-left: 0 !important;
  }
}